<h1 class="mt-4">Processos</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
    <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
           {{ mensagemSucesso }}
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
            {{ mensagemErro }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-warning" (click)="novoCadastro()"><i class="fa fa-plus"></i>
            Novo
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover" >

                <thead >
                    <tr>
                        <th>ID</th>
                        <th>NPU</th>
                        <th>UF</th>
                        <th>MUNICIPIO</th>
                        <th>DATA CADASTRO</th>
                        <th>DOCUMENTO</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let processo of lista; let i = index;"> 

                        <td>{{processo.id}}</td>
                        <td>{{processo.npu}}</td>
                        <td>{{processo.uf}}</td>
                        <td>{{processo.municipio}}</td>
                        <td>{{processo.dataCadastro}}</td>
                        <td>{{processo.documentos[0].nome}}</td>
                        <td> 
                             <button class="btn btn-neutral" routerLink="/processos/form/{{processo.id}}">
                                <a><i class="fa fa-edit ml-2"></i></a>
                            </button>
                            <button class="btn btn-neutral" (click)="preparaProcesso(processo)"
                                data-toggle="modal" data-target="#modalDelecao">
                                <i class="fa fa-trash ml-2"></i>
                            </button>
                            <button class="btn btn-neutral" routerLink="/processos/visualiza/{{processo.id}}">
                                <i class="fa fa-eye ml-2"></i>
                            </button>
                        </td>

                      
                    </tr>
                </tbody>
            </table>
        </div>
       
    </div>
    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog" >
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>

                <div class="modal-body"  *ngIf="processoSelecionado">
                    Deseja exluir o processo {{ processoSelecionado.npu }} ?
                    
                    <div class="modal-footer">
                            <button class="btn btn-success" (click)="deletar()" data-dismiss="modal">Confirmar
                            </button>
                            <button class="btn btn-nutral" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
        </div>
    </div>
    </div>
</div>